<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  
         <!-- main page -->
    <section class="main-page">
        <!--left-->
        <div class="left">
          <div class="left-content">
            <div>
              <h3 class="left-content-heading" style="font-size: 3rem;">Welcome to Coding Spiders App</h3>
            </div>
            <div>
              <h3 class="left-content-users" style="font-size: 1.5rem; text-align: center;">Track your learning journey!</h3>
            </div>
          </div>
        </div>
        </div>
        <!--end of right-->
      </section>
      <!--end of main page
  
  
      <!--login page-->
      <section class="login-page">

        <!--login-->
        <div class="login">
          <div class="login-content">
            <h2>Log in to Code Sniper</h2>
            <form class="login-form" action="/login/auth" method="POST">
                <label for="username">Username: </label><br>
                <input type="text" name="username"> <br>
                <label for="password">Password: </label> <br>
                <input type="password" name="password"> <br>
                <button type="submit">Log In</button>
                </form>
          </div>
          <footer class="login-footer">
            <p>New to Code Snipers App? <a href="/sign-up">Sign up now</a></p>
          </footer>
        </div>
        <!--end of login-->
  
      </section>

</body>
</html>