.face.face1{
    position: relative;
    background: #fdfd96;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    width: 200px;
    display: flex;
    justify-content: space-around;
}